<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Weather App</title>
        <link rel="stylesheet" href="css/bootstrap.css" />
    </head>
    <body>
        <div class="card border">
            <h1 id="demo">Weather App</h1>
            <div class="card-body">
                <div class="container">
                    <ul class="nav nav-tabs nav-fill">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Active</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><%= dayOne %></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><%= dayTwo %></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><%= dayThree %></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><%= dayFour %></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><%= dayFive %></a>
                        </li>
                    </ul>
                    <div class="row text-center">
                        <!-- <div class="col border-primary border border-2 rounded">col</div>
                        <div class="col border rounded">col</div>
                        <div class="col border rounded">col</div>
                        <div class="col border rounded">col</div>
                        <div class="col border rounded">col</div>
                        <div class="col border rounded">col</div>
                        <div class="col border rounded">col</div>
                        <div class="col border rounded">col</div> -->
                        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="h-50 w-100" style="background-color: gray"></div>
                                </div>
                                <div class="carousel-item">
                                    <div class="h-50 w-100" style="background-color: gray"></div>
                                </div>
                                <div class="carousel-item">
                                    <div class="h-50 w-100" style="background-color: gray"></div>
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    </div>
                    <form class="row card-footer" action="/by-city" method="post">
                        <div class="col-auto">
                            <label for="city" class="form-label">Search by city:</label>
                        </div>
                        <div class="col-auto">
                            <input class="form-control" type="text" name="city" id="city" />
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">Enter your city</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="/js/getLocation.js"></script>
        <script src="/js/script.js"></script>
        <script type="module" src="js/bootstrap.js"></script>
    </body>
</html>
